process {

  withLabel: 'longest' {
    cpus = 1
    echo = true
  }

  withLabel: 'gffread' {
    cpus = 1
    echo = true
  }

  withLabel: 'download' {
    cpus = 1
    echo = true
  }

  withName: "ORTHOFINDER" {
    cpus = 4
    echo = true
  }

}

docker.enabled = true
docker.runOptions='-u $(id -u):$(id -g)'