process {
  penv = 'smp'
  executor='sge'

  withLabel: 'longest' {
    cpus = 1
  }

  withLabel: 'gffread' {
    cpus = 1
  }

  withLabel: 'download' {
    cpus = 1
  }

  withName: "ORTHOFINDER" {
    cpus = 8
    clusterOptions = '-l mem=20G -l h_rt=24:0:0 -l tmpfs=20G'
  }

}

singularity.enabled = true
singularity.autoMounts = true
